<h1>Home</h1>
<p>you are logged in "<%= @account["display_name"] %>" (Dropbox Account)</p>

<!--
<p>name : <%= @account["display_name"] %></p>
<p>uid : <%= @account["uid"] %></p>
<p>email : <%= @account["email"] %></p>
-->
