<html>
<h1>ConvertFile</h1>
<p>ConvertFile is a web service that enables to convert to WAV file from TXT file.<p>

<h2>Install</h2>
<p><a href="http://www.dropbox.com">Install Dropbox.</a></p>
<p><a href="/login">and Go.</a></p>

<h2>How to Convert</h2>
<p>create file (~/Dropbox/Apps/ConvertFile/somefile.txt) at ConvertFile Directory.</p>
<p>Automatically, We converted to WAV files from TXT file.</p>

<hr>
<center> @yuki777 </center>

</html>
</html>
