<html>
  <%= yield %>

  <p>&nbsp;</p>
  <hr>
  <p>DEMO Links...</p>
  <p><a href="/">/(top)</a> | <a href="/login">/login</a> | <a href="/logout">/logout</a> | <a href="/home">/home</a></p>
  <p><a href="/create">/create</a> | <a href="/read">/read</a> | <a href="/update">/update</a> | <a href="/delete">/delete</a>(/testfile.txt)</p>
  <p><a href="/urlecho">/urlecho</a>(/testfile.txt -> /testfile.txt.urlecho.com.wav)</p>
  <hr>
  <center> @yuki777 </center>

</html>
